/* 全局设置在这 */
body{
    font-size: 18px;
    color: black;
    margin: 0;
}
button{
    padding: 5px;
}
article{
    min-height: 700px;
}
input:focus{
    border-color: lightblue;
}
/* nav{
    position: fixed;
    left: 80%;
    z-index: 10;
    background-color: rgba(100,100,250,.8);
} */

/* 阅读界面的设置 */
/* 导航栏的设置 */
.nav{
    padding: 15px 2px;
    background-color: rgba(100,100,250,.8);
    /* position: fixed; */
}
.nav a{
    margin-right: 10px;
}
/* 搜索按钮组的设置*/
.search{
    margin-left: 10%; 
    margin-right: 50%;
}
#search{
    height: 30px;
    width: 200px;
}
/* 超链接的设置 */
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: white;
}
/* 文章的标签的设置 */
.tag,.tag *{
    clear: both;
    background-color: aliceblue;
    padding: 5px;
    margin-bottom: 10px;
}
.tag label{
    background-color: rgba(100,250,100,.8);
    margin: 5px 5px;
    padding: 3px;
    border-radius: 4px;
}
/* 点赞和收藏按钮的设置 */
.stars{
    position: absolute;
    left: 80%;
}
.collect{
    position: absolute;
    left: 85%;
    padding: 5px;
}
/* 文章的设置 */
.article_read{
    margin: 0 100px;
}
.passage{
    border: 1.5px solid rgba(100,100,200,.5);
    padding: 10px 100px;
    box-shadow: 5px 5px 8px lightblue;
    margin: 0 100px;
}
/* 底部栏的设置 */
footer{
    background-color: rgba(100,100,250,.8);
    padding: 40px 0;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    clear: both;
    /* position: absolute;
    bottom: 0%;
    width: 100%; */
}

/* 文件列表的设置 */
/* 文章列表中的卡片的设置 */
.card{
    margin: 15px 150px;
}
.card hr{
    height: 1px;
    border: none;
    border-top: 2px groove skyblue;
    padding: 0;
   
}
.card span{
    font-size: 10px;
}
.card div {
    width: 280px;
    height: 350px;
    display: inline-block;
    border: 1.5px solid rgba(100,100,250,.8);
    padding: 15px;
    margin: 5px 7px;
    box-shadow: 3px 3px 5px rgba(100,100,250,.6);
    border-radius: 4px;
    background: -webkit-linear-gradient(rgba(255,100,100,.4),rgba(100,100,255,.4));
    background: -o-linear-gradient(rgba(255,100,100,.4),rgba(100,100,255,.4));
    background: -moz-linear-gradient(rgba(255,100,100,.4),rgba(100,100,255,.4));
    background: linear-gradient(rgba(255,100,100,.4),rgba(100,100,255,.4));
}
.card div:hover{
    background: -webkit-linear-gradient(rgba(255,0,0,.6),rgba(0,0,255,.6));
    background: -o-linear-gradient(rgba(255,0,0,.6),rgba(0,0,255,.6));
    background: -moz-linear-gradient(rgba(255,0,0,.6),rgba(0,0,255,.6));
    background: linear-gradient(rgba(255,0,0,.6),rgba(0,0,255,.6));
}
.card a,h4{
    color: black;
    text-align: center;
}

/* 编辑界面的设置 */
.article_edit{
    background-color: lightgray;
    margin: 0 100px;
    box-shadow: 5px 5px 8px rgba(0,0,0,.5);
}
.article_edit h2{
    text-align: center;
}
.edit{
    display: inline-block;
    margin-left: 55px;
    margin-top: 15px;
}
#editarea{
    background-color: rgba(3, 4, 61, 0.8);
}
.show{
    display: inline-block;
}
.btns{
    text-align: center;
    margin: 20px 0;
}