.loader{
     margin: 10rem auto; 
}
.loader{
    position: relative;
    width: 5rem;
    height: 5rem;
}
.loader.small{
    -webkit-transform: scale(.5);
    transform: scale(.5);
}
.loader.large{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.loader.circle-line span{
    position: absolute;
    display: inline-block;
    width: 1.5rem;
    height: .5rem;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    background: #1ABC9C;
    opacity: .05;
    -webkit-animation: circle-line 1s ease infinite;
    animation: circle-line 1s ease infinite;
}

.loader.circle-line span:nth-child(1){
    top: 50%;
    left: 0;
    margin-top: -.25rem;
    -webkit-animation-delay: .13s;
    animation-delay: .13s;
}

.loader.circle-line span:nth-child(2){
    top: 1rem;
    left: .5rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation-delay: .26s;
    animation-delay: .26s;
}

.loader.circle-line span:nth-child(3){
    top: .5rem;
    left: 50%;
    margin-left: -.75rem;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation-delay: .39s;
    animation-delay: .39s;
}

.loader.circle-line span:nth-child(4){
    top: 1rem;
    right: .5rem;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); 
    -webkit-animation-delay: .42s;
    animation-delay: .42s;
}

.loader.circle-line span:nth-child(5){
    top: 50%;
    left: 3.5rem;
    margin-top: -.25rem;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-animation-delay: .65s;
    animation-delay: .65s;
}

.loader.circle-line span:nth-child(6){
    bottom: 1rem;
    right: .5rem;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    -webkit-animation-delay: .78s;
    animation-delay: .78s;
}

.loader.circle-line span:nth-child(7){
    bottom: .5rem;
    left: 50%;
    margin-left: -.75rem;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-animation-delay: .91s;
    animation-delay: .91s;
}

.loader.circle-line span:nth-child(8){
    bottom: 1rem;
    left: .5rem;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation-delay: .104s;
    animation-delay: .104s;
}

@keyframes circle-line{
    from{
        opacity: .05;
    }
    to{
        opacity: .7;
    }
}
@-webkit-keyframes circle-line{
    from{
        opacity: .05;
    }
    to{
        opacity: .7;
    }
}
